// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.nav-link {
    color: $black;
}
.navbar-brand {
    color: whitesmoke;
}
.breadcrumb {
    background-color: rgba($color: #5e99e6, $alpha: 0.2)
}
.breadcrumb-item a {
    color: black;
}
.breadcrumb-item.active {
    color: black;
}
.alert-error {
    background-color: rgba($red, 0.3);
}
body {
    background: #ffffff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.role-select {
    display: flex;
    flex-direction: column;
}
.navbar {
    background: $blue;
}
.app-content {
    flex: 1;
}
.link {
    color: black;
}
.card {
    box-shadow: 0 0 1rem rgb(109, 106, 106);
}
.footer-container {
    text-align: center;
}
